<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html" />
    <title><%= @page_title.compact.join(" &#187; ") %></title>
  </head>
  <body>
    <%= yield %>
  </body>
</html>